.button {
  background: none;
  border: 0;
  cursor: pointer;
}

.cta {
  background-color: $opera-mauve;
  color: $deep-purple;
  margin-top: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: $button-font-size;
}

a.main {
  display: block;
  text-decoration: none;
  font-size: $main-cta-font-size;
}
