@mixin centered($top: 20px, $bottom: 20px) {
  margin: $top auto $bottom;
}

/* Hide an element visually, but not from screen readers */
.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
